#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
1 VERSIONINFO
	FILEVERSION 2,6,1,0
{
	BLOCK "StringFileInfo"
	{
		BLOCK "04090025"
		{
			// todo add
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 1033, 37
	}
}
